<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>BuddyApp necesita la cámara para escanear códigos QR y obtener stickers.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>BuddyApp uses your location in the background to notify you when you reach a new place.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BuddyApp needs your location to unlock stickers at nearby places.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>BuddyApp necesita el micrófono para enviar mensajes de audio a tu buddy.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>SplashLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>GIDClientID</key>
	<string>975826303754-eraadkk8jh9u68q366l3bhc7d1dleriq.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.975826303754-eraadkk8jh9u68q366l3bhc7d1dleriq</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
